body {
  font-family: 'Noto Serif', serif;
}

.section-main {
  background: url('../img/main.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.section-main h1 {
  font-weight: 900;
}

button.btn {
  background-color: #fad3b6 !important;
  border-color: #fad3b6 !important ;
}

button.btn:focus {
  outline: none;
  box-shadow: none;
}

#emailButton {
  text-decoration: none;
  color: #000000;
}

/* #icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;

} */

/* #icons div {
  width: 25%;
}
img {
  width: 20%;
} */
